/* ProfileEditorComponent's private CSS styles */

form {
  padding-top: 1rem;
}

label {
  display: block;
  margin: .5em 0;
  font-weight: bold;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
